*{
font-family: 'Silkscreen', cursive;
}

/*Retro colors to be used*/
body {
background-color: #4faf44;
}


.title {
color: #2a3492;
text-shadow: 2px 2px #2a349275;
font-size: 45px;
text-align: center;
}

/*This section will show both players and it will be destinguished by color,
white for the simbol "0" and for the symbol "X" will be black*/
.display {
color: #151a49;
text-shadow: 2px 2px #15144986;
text-align: center;
font-size: 20px;
margin-top: 2%;
margin-bottom: 3%;
}


.table {
box-shadow: 10px 5px rgba(244, 106, 0, 0.242);
margin: 0 auto;
display: grid;
grid-template-columns: 33% 33% 33%;
grid-template-rows: 33% 33% 33%;
max-width: 300px;
}

.cel {
border: 5px solid #2b2d41;
min-width: 100px;
min-height: 100px;
display: flex;
justify-content: center;
align-items: center;
font-size: 50px;
cursor: pointer;
}


.table > .cel {
    background-color: rgba(244, 106, 0, 0.691);
}

.playerX {
    color: rgb(5, 0, 0);
    text-shadow: 2px 2px #2a349275;
}

.playerO {
    color: rgb(231, 228, 228);
    text-shadow: 2px 2px #2a349275;
}

.display announcer hide {
color: rgb(108, 108, 208);
text-align: center;
}

.controls {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 5rem;
cursor: pointer;
}

.controls button {
    color: black;
    box-shadow: 5px 5px;
    height: 50px;
    width: 100px;
    cursor: pointer;
}
#resoult{
color: #151a49;
}

footer {
    
    height: 170px;
}